# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Node
node_modules/
build/
.env.local
.env.production

# IDE
.idea/
.vscode/

# Docker
.dockerignore

# Misc
.DS_Store
*.log
churchcamp-key.pem
*.db
instance/
backend/instance/
*.xlsx
